## Main Objective
> The primary goal of this project is to perform a comprehensive analysis of customer satisfaction to identify key factors influencing satisfaction and areas needing improvement!  

### Data Understanding
The dataset has the following features:
1. **CustomerID**: Unique identifier for each customer.
2. **Age**: Age of the customer.
3. **Gender**: Gender of the customer (Male/Female).
4. **PurchaseAmount**: Total amount spent by the customer.
5. **PurchaseFrequency**: Number of purchases made by the customer.
6. **ProductQualityRating**: Customer rating for product quality (1-5).
7. **DeliveryTimeRating**: Customer rating for delivery time (1-5).
8. **CustomerServiceRating**: Customer rating for customer service (1-5).
9. **WebsiteEaseOfUseRating**: Customer rating for website ease of use (1-5).
10. **ReturnRate**: Proportion of products returned by the customer.
11. **DiscountUsage**: Amount of discount used by the customer.
12. **LoyaltyProgramMember**: Whether the customer is a loyalty program member (Yes/No).

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("datasets/E-commerce_NPA_Dataset.csv")

In [3]:
dataset.head()

,CustomerID,Age,Gender,PurchaseAmount,PurchaseFrequency,ProductQualityRating,DeliveryTimeRating,CustomerServiceRating,WebsiteEaseOfUseRating,ReturnRate,DiscountUsage,LoyaltyProgramMember
0,1,38,Female,749.097626,24,2,1,3,5,0.12,135.392573,No
1,2,30,Male,735.224916,18,5,4,4,5,0.37,193.450663,Yes
2,3,55,Male,1145.520305,22,3,5,4,1,0.10,147.246263,Yes
3,4,39,Female,925.460535,14,4,3,2,4,0.38,56.362894,Yes
4,5,51,Male,108.359916,9,3,3,2,5,0.42,338.731055,No

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              500 non-null    int64
 1   Age                     500 non-null    int64
 2   Gender                  500 non-null    object
 3   PurchaseAmount          500 non-null    float64
 4   PurchaseFrequency       500 non-null    int64
 5   ProductQualityRating    500 non-null    int64
 6   DeliveryTimeRating      500 non-null    int64
 7   CustomerServiceRating   500 non-null    int64
 8   WebsiteEaseOfUseRating  500 non-null    int64
 9   ReturnRate              500 non-null    float64
 10  DiscountUsage           500 non-null    float64
 11  LoyaltyProgramMember    500 non-null    object
dtypes: float64(3), int64(7), object(2)
memory usage: 47.0+ KB

In [5]:
dataset.isnull().sum()

CustomerID                0
Age                       0
Gender                    0
PurchaseAmount            0
PurchaseFrequency         0
ProductQualityRating      0
DeliveryTimeRating        0
CustomerServiceRating     0
WebsiteEaseOfUseRating    0
ReturnRate                0
DiscountUsage             0
LoyaltyProgramMember      0
dtype: int64