## Main Goal
Building a personalized dating recommendation system to facilitate meaningful connections!

### Data Understanding
The dataset consists of the following columns:

1. **User ID**: A unique identifier for each user.
2. **Age**: The age of the user.
3. **Gender**: The gender of the user (e.g., Male, Female).
4. **Height**: The height of the user.
5. **Interests**: A list of interests or hobbies expressed by the user.
6. **Looking For**: The user’s dating preferences, such as “Long-term Relationship,” “Marriage,” etc.
7. **Children**: Indicates whether the user has children (“Yes,” “No,” “Maybe”).
8. **Education Level**: The user’s highest education level.
9. **Occupation**: The user’s current occupation.
10. **Swiping History**: A numerical score representing the user’s interactions (e.g., likes/dislikes) with other profiles.
11. **Frequency of Usage**: How often the user engages with the dating app (e.g., “Daily,” “Monthly”).

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("datasets/dating_app_dataset.csv")

In [3]:
dataset.head()

,User ID,Age,Gender,Height,Interests,Looking For,Children,Education Level,Occupation,Swiping History,Frequency of Usage
0,1,30,Male,5.240385,"['Sports', 'Cooking', 'Hiking', 'Music', 'Movi...",Casual Dating,No,High School,Student,96,Weekly
1,2,27,Female,4.937625,"['Sports', 'Reading']",Friendship,Yes,Master's Degree,Artist,96,Monthly
2,3,29,Female,5.806296,['Sports'],Casual Dating,No,Bachelor's Degree,Social Media Influencer,64,Daily
3,4,29,Female,5.101402,['Reading'],Marriage,No,Ph.D.,Doctor,67,Daily
4,5,32,Male,5.986670,"['Sports', 'Hiking', 'Music', 'Movies', 'Readi...",Long-term Relationship,Yes,Ph.D.,Engineer,93,Monthly

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   User ID             500 non-null    int64
 1   Age                 500 non-null    int64
 2   Gender              500 non-null    object
 3   Height              500 non-null    float64
 4   Interests           500 non-null    object
 5   Looking For         500 non-null    object
 6   Children            500 non-null    object
 7   Education Level     500 non-null    object
 8   Occupation          500 non-null    object
 9   Swiping History     500 non-null    int64
 10  Frequency of Usage  500 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 43.1+ KB

In [5]:
dataset.isnull().sum()

User ID               0
Age                   0
Gender                0
Height                0
Interests             0
Looking For           0
Children              0
Education Level       0
Occupation            0
Swiping History       0
Frequency of Usage    0
dtype: int64