## Main Goal
The objective of this project is to predict the food delivery time based on the distance covered by the delivery partner to deliver the order!  

### Data Understanding
The dataset has the following features:

1. **ID**: order ID number 
2. **Delivery_person_ID**: ID number of the delivery partner
3. **Delivery_person_Age**: Age of the delivery partner
4. **Delivery_person_Ratings**: ratings of the delivery partner based on past deliveries
5. **Restaurant_latitude**: The latitude of the restaurant
6. **Restaurant_longitude**: The longitude of the restaurant
7. **Delivery_location_latitude**: The latitude of the delivery location
8. **Delivery_location_longitude**: The longitude of the delivery location
9. **Type_of_order**: The type of meal ordered by the customer
10. **Type_of_vehicle**: The type of vehicle delivery partner rides
11. **Time_taken(min)**: The time taken by the delivery partner to complete the order

The dataset can be accessed from: [https://www.kaggle.com/datasets/gauravmalik26/food-delivery-dataset/data]

In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("datasets/deliverytime.txt")

In [4]:
dataset.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [5]:
dataset.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Type_of_order                  0
Type_of_vehicle                0
Time_taken(min)                0
dtype: int64